<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Individual_Project.Properties.Settings.connectionstring"
            connectionString="Server=localhost; Database=IndividualProject; Trusted_Connection=True;" />
        <add name="Individual_Project.Properties.Settings.initialconnectionstring"
            connectionString="Server=localhost; Database=master; Trusted_Connection=True;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>